/* CSS */

* {
margin:0px;
padding:0px
}

body {
    background: #e5e5e5;
}

/* ---- Nav ---- */

nav {
    background: #27b0be;

}

nav ul {
list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    
}

nav ul li a:hover {}

/* ---- /Nav ---- */

/* ---- Struktur ---- */

.wrapper {
width: 95%;
max-width: 960px;
margin: 0 auto;
border: solid 1px #ccc;
padding: 10px;
}

.main-content {}




footer {}

/* ---- /Struktur ---- */